/* COMMON */
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  line-height: 1.6;
  text-decoration: none;
  letter-spacing: -0.03em;
}

p {
  line-height: 1.6;
}
a {
  color: #000;
  text-decoration: none;
}

img {
  position: relative;
  /* width: 1920px;
  height: 1080px; */
}

/* 가운데 정렬 */
.inner {
  width: 100%;
  margin: 0 auto; /* 외부여백 위아래는 0 좌우는 auto */
  position: relative;
  overflow-x: hidden; /* 아이폰 가로 스크롤 방지 */
}

.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}

/* HEADER */
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner {
  height: 80px;
}

header .main-menu {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

header .main-menu .logo {
  position: relative;
  width: 20%;
}

header .main-menu .main-menu-list {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

header .main-menu .main-menu-list .menu_name {
  padding: auto;
  font-size: 16px;
}

header .main-menu .main-menu-list:hover .menu_name {
  border-bottom: 1.4px solid #0061b0;
  color: #0061b0;
  font-weight: 400;
  width: 120%;
}

/* SECTION */
.scroll-section {
  position: relative;
  padding-top: -5vh;
}

.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

.sticky-elem .div {
  background-color: #000;
  opacity: 0.7;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  opacity: 0;
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
  font-size: 3rem;
}

/* SECTION 0 */
#scroll-section-0 {
  position: relative;
  top: -3vh;
  text-align: center;
  color: #fff;
  background-color: #4082f5;
}

#scroll-section-0 .main-text-container {
  display: flex;
  background-color: black;
}

#scroll-section-0 img {
  padding-top: 0;
}

#scroll-section-0 h1 {
  position: relative;
  text-align: center;
  margin-top: 3.5rem;
  font-size: 5rem;
  letter-spacing: 6px;
  z-index: 5;
}

#scroll-section-0 .main-message {
  width: 100%;
}

/* SECTION 1 */
#scroll-section-1 .section1-container {
  background-color: yellow;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#video-canvas-1 {
  z-index: -1;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section .canvas {
  z-index: -1;
}

/* FOOTER */
.footer {
  background-color: red;
}
